<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Upo Rental - Contact</title>
    <th:block th:insert="~{fragments/common-resources :: head}"></th:block>
</head>
<body>
<div class="container mb-4">
    <header th:insert="~{fragments/header :: header}"></header>
    <div class="card mx-auto border-0 shadow p-4">
        <section id="contact">
            <div class="container">
                <div class="text-center">
                    <h1>Skonkaktuj się z nami</h1>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit urna ut tellus bibendum, non posuere lacus euismod. </p>
                </div>
                <hr/>
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-6 col-lg-3 my-5">
                        <div class="card border-0 shadow p-4">
                            <div class="card-body text-center">
                                <h4>Nr telefonu</h4>
                                <i class=" bi bi-telephone-fill h3"></i>
                                <p>+48 728 996 143 <br/>+48 681 789 421</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 my-5">
                        <div class="card border-0 shadow p-4">
                            <div class="card-body text-center">
                                <h4>Adres wypożyczalni</h4>
                                <i class=" bi bi-geo-alt h3"></i>
                                <address>31-154 Kraków, ul. Podmiejska 4</address>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 my-5">
                        <div class="card border-0 shadow p-4">
                            <div class="card-body text-center">
                                <h4>Adres email</h4>
                                <i class="bi bi-envelope-at h3"></i>
                                <address>uporent.kontakt@gmail.com</address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>
