<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Upo Car Rental - Your Trusted Car Rental Service">
  <meta name="author" content="Upo Car Rental">

  <th:block th:insert="~{fragments/common-resources :: head}"></th:block>

  <title>Upo Rental</title>

</head>

<body class="text-center">

<div class="container">

  <header th:insert="~{fragments/header :: header}"> </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Znajdź samochód dla siebie w Upo Car Rental</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p class="lead">
      <a th:href="@{/models}" class="btn btn-lg btn-primary">Przeglądaj flotę</a>
    </p>
  </main>
  <div class="row justify-content-center mb-4">
    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
      <div class="card service-wrapper rounded border-0 shadow p-4">
        <div class="content mt-4">
          <h5 class="title">Aliquam tincidunt</h5>
          <p class="text-muted mt-3 mb-0">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="big-icon h1 text-custom">
          <i class="bi bi-check"></i>
        </div>
      </div>
    </div><!--end col-->

    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
      <div class="card service-wrapper rounded border-0 shadow p-4">
        <div class="content mt-4">
          <h5 class="title">Vestibulum auctor</h5>
          <p class="text-muted mt-3 mb-0">Aliquam id diam maecenas ultricies. Massa tempor nec feugiat nisl pretium fusce id velit ut.
            Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit amet. Bibendum arcu vitae elementum curabitur vitae nunc sed.</p>
        </div>
        <div class="big-icon h1 text-custom">
          <i class="bi bi-check"></i>
        </div>
      </div>
    </div><!--end col-->


    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
      <div class="card service-wrapper rounded border-0 shadow p-4">
        <div class="content mt-4">
          <h5 class="title">Ut aliquam</h5>
          <p class="text-muted mt-3 mb-0">Odio tempor orci dapibus ultrices in iaculis. Egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices.
            Tristique risus nec feugiat in. Varius vel pharetra vel turpis nunc eget lorem. Bibendum arcu vitae elementum curabitur vitae nunc sed.</p>
        </div>
        <div class="big-icon h1 text-custom">
          <i class="bi bi-check"></i>
        </div>
      </div>
    </div><!--end col-->

    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
      <div class="card service-wrapper rounded border-0 shadow p-4">
        <div class="content mt-4">
          <h5 class="title">Donec quis</h5>
          <p class="text-muted mt-3 mb-0">Pretium quam vulputate dignissim suspendisse in est ante in.
            Massa sapien faucibus et molestie ac. Non curabitur gravida arcu ac tortor dignissim.
            Porttitor rhoncus dolor purus non enim praesent elementum facilisis leo. </p>
        </div>
        <div class="big-icon h1 text-custom">
          <i class="bi bi-check"></i>
        </div>
      </div>
    </div><!--end col-->

    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
      <div class="card service-wrapper rounded border-0 shadow p-4">
        <div class="content mt-4">
          <h5 class="title">Sed adipiscing</h5>
          <p class="text-muted mt-3 mb-0">Orci eu lobortis elementum nibh. Rhoncus dolor purus non enim.
            Amet commodo nulla facilisi nullam vehicula ipsum a. Arcu cursus vitae congue mauris rhoncus aenean.
            Odio tempor orci dapibus ultrices in iaculis.</p>
        </div>
        <div class="big-icon h1 text-custom">
          <i class="bi bi-check"></i>
        </div>
      </div>
    </div><!--end col-->

  </div><!--end row-->

</div>

</body>
</html>